html,
body {
  font-family: "DM Mono", monospace;
  scroll-behavior: smooth;
}

pre {
  font-family: "Fira Code", monospace !important;
  background-color: #222;
  color: yellow;
  border-radius: 5px;
  padding: 10px;
  padding: 4px 0 4px 0;
}

p {
  font-size: 18px;
}
.transition {
  transition: all 0.3s linear;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
